<template>
  <v-container fluid>
    <section class="start">
      <v-row align="center">
        <v-col cols="12" md="6" sm="6" class="pl-12">
          <v-img
            max-width="680"
            min-width="200"
            eager
            contain
            class="ml-md-12 ml-0 mt-0 mt-md-4"
            :src="require('../assets/undraw_social_ideas_e8rj.svg')"
            alt="drawing"
          ></v-img>
        </v-col>
        <v-col cols="12" md="6" sm="6" class="pl-12">
          <div class="ml-0 ml-md-6">
            <h3 class="text--secondary">Share your greatest ideas with the world!</h3>
            <p class="text--secondary">
              Ideato is the platform for sharing your ideas on diffrent topics
              <br />with your help and others we cam make a better world
              <br />for me and you
            </p>
            <v-btn large link to="/getStarted" color="#044BD9" dark>Get started</v-btn>
          </div>
        </v-col>
      </v-row>
    </section>
  </v-container>
</template>

<script>
export default {
  name: "Home",
  components: {}
};
</script>


<style lang="scss" scoped>
</style>