<template>
  <div>
    <v-container>
      <v-row justify="center" class="px-md-12 px-0 mx-0 mx-md-12">
        <v-col class="pa-md-12 pa-2" cols="12" md="6" sm="12">
          <div class="text-center text-md-left">
            <div class="header-avatar mb-3">
              <div class="avatar mr-6">
                <img :src="require('@/assets/profile.jpg')" alt="avatar" />
              </div>
              <div class="header">Sarah says:</div>
            </div>
            <div class="title">
              <h3>I have the greatest idea ever!</h3>
            </div>
            <div class="text pt-3">
              <p>
                guys listen this idea is soo good
                <br />it's actually unbelievable how about we
                <br />have two universities in our country and
                <br />guess what not just that we can have the best time of our
                <br />life while we're at it soooo what do you guys think
                <br />give me your opinions about this !
                <br />
              </p>
            </div>
            <div class="pt-6">
              <v-btn color="#D95284" class="mr-6" dark>Share this idea</v-btn>
              <v-btn icon>
                <v-icon color="deep-orange accent-4">mdi-arrow-down</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon color="deep-blue accent-4">mdi-arrow-up</v-icon>
              </v-btn>
              <span>12343</span>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="6" align-self="center" sm="12">
          <img class="image" :src="require('@/assets/undraw_ideas_flow_cy7b.svg')" alt />
        </v-col>
      </v-row>
      <v-row>
        <v-list three-line class="mx-auto pa-12">
          <template v-for="(item, index) in items">
            <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

            <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

            <v-list-item v-else :key="item.title">
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-html="item.title"></v-list-item-title>
                <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-icon>
                <v-btn icon>
                  <v-icon color="red">mdi-heart</v-icon>
                </v-btn>
              </v-list-item-icon>
            </v-list-item>
          </template>
        </v-list>
      </v-row>
      <v-pagination v-model="page" :length="4" circle></v-pagination>
    </v-container>
  </div>
</template>

<script lang="ts">
export default {
  name: "IdeaStatus",
  components: {},
  data() {
    return {
      page: 1,
      itemId: String,
      items: [
        { header: "Latest comments" },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
          title: "Brunch this weekend?",
          subtitle:
            "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
        },
        { divider: true, inset: true },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
          title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
          subtitle:
            "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend."
        },
        { divider: true, inset: true },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
          title: "Oui oui",
          subtitle:
            "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?"
        },
        { divider: true, inset: true },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
          title: "Birthday gift",
          subtitle:
            "<span class='text--primary'>Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?"
        },
        { divider: true, inset: true },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
          title: "Recipe to try",
          subtitle:
            "<span class='text--primary'>Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos."
        }
      ]
    };
  },
  mounted() {
    this.itemId = this.$router.currentRoute.query.id;
  }
};
</script>

<style lang="scss" scoped>
// html {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }
// body {
//   perspective: 1px;
//   transform-style: preserve-3d;
//   height: 100%;
//   width: 100%;
//   overflow-y: scroll;
//   overflow-x: hidden;
// }
.image {
  width: 100%;
}
.avatar {
  width: 80px;
}
.avatar img {
  border-radius: 50%;
  width: 100%;
}
.header-avatar {
  display: flex;
  align-items: center;
}
// .chatBubble {
//   width: 280px;
//   margin: 20px;
//   user-select: none;
//   z-index: 2;
//   transform: translateZ(2px);
// }
// .parallax {
//   width: 100%;
//   height: 100%;
// }

// .bg {
//   transform-style: inherit;
//   position: absolute;
//   top: 12rem;
//   right: 13rem;
//   transform-origin: center center 0;
//   transform: translateZ(-1px) scale(2);
//   z-index: 0;
// }
</style>