<template>
  <v-container fluid justify="center">
    <v-col>
      <v-card
        elevation="10"
        shaped
        class="mx-auto my-12 align-center pa-10"
        max-width="400"
        min-height="400"
      >
        <v-card-title>Login</v-card-title>
        <v-alert
          v-if="this.$router.history.current.query.redirect"
          text
          dense
          type="info"
        >
          Use the username and password you registered with to login.
        </v-alert>
        <v-card-text>
          <v-form ref="form" @submit.prevent="login()" v-model="valid">
            <v-text-field
              v-model="userName"
              :rules="userNameRules"
              label="User name"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              hint="At least 8 characters"
              counter
              @click:append="show = !show"
            ></v-text-field>
            <v-btn
              :loading="loading"
              type="submit"
              block
              depressed
              color="#0442BF"
              dark
              >Login</v-btn
            >
          </v-form>
        </v-card-text>
        <v-alert
          v-show="status !== ''"
          dense
          text
          border="left"
          :type="status || 'error'"
          >{{ message }}</v-alert
        >
      </v-card>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import { HTTP } from "../services/http";
export default {
  name: "Login",
  components: {},
  data() {
    return {
      show: false,
      loading: false,
      status: "",
      message: "",
      password: "",
      valid: true,
      userName: "",
      userNameRules: [(v) => !!v || "User name is required"],
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
      },
      baseUrl: "http://localhost:3000/api/v1",
    };
  },
  methods: {
    async login() {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        const req = new HTTP(
          `${this.baseUrl}/users/auth/login`,
          "POST",
          { userName: this.userName, password: this.password },
          {
            "Content-Type": "application/json",
          }
        ).send();

        req
          .then((rsp) => {
            this.message = rsp.message;
            if (rsp.success) {
              this.status = "success";
              this.$cookies.set("token", rsp.token);
              return (document.location.pathname = "/ideas");
            } else {
              this.status = "warning";
            }
          })
          .catch((e) => {
            this.message = e;
            this.status = "error";
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.v-card__title {
  justify-content: center;
}
.v-btn {
  margin: {
    top: 2rem;
  }
}
</style>
