<template>
  <center>Logging out...</center>
</template>


<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Logout",
  async beforeMount() {
    this.$cookies.remove("token");
    return (document.location.pathname = "/");
  }
});
</script>