<template>
  <v-container fluid justify="center">
    <v-col>
      <v-card
        elevation="10"
        shaped
        class="mx-auto my-12 align-center pa-5"
        max-width="400"
        min-height="400"
      >
        <v-card-title>Register</v-card-title>
        <v-card-text>
          <v-form @submit.prevent="register()" ref="form" v-model="valid">
            <v-text-field v-model="fullName" :rules="nameRules" label="Full name" required></v-text-field>
            <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
            <v-text-field v-model="userName" :rules="nameRules" label="Username" required></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              hint="At least 8 characters"
              counter
              @click:append="show = !show"
            ></v-text-field>
            <v-checkbox
              v-model="checkbox"
              :rules="[v => !!v || 'You must agree to continue!']"
              label="I agree to the terms of service"
              required
            ></v-checkbox>
            <v-btn type="submit" :loading="loading" block depressed color="#0476D9" dark>Sign up</v-btn>
          </v-form>
        </v-card-text>
        <v-alert
          v-show="status !== ''"
          dense
          text
          border="left"
          :type="status || 'error'"
        >{{message}}</v-alert>
      </v-card>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import { HTTP } from "../services/http";
export default {
  name: "Register",
  components: {},
  data() {
    return {
      status: "",
      message: "",
      show: false,
      fullName: "",
      email: "",
      userName: "",
      password: "",
      loading: false,
      valid: true,
      nameRules: [v => !!v || "Name is required"],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 8 || "Min 8 characters"
      },
      checkbox: false,
      baseUrl: "http://localhost:3000/api/v1"
    };
  },
  methods: {
    register() {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        const req = new HTTP(
          `${this.baseUrl}/users/auth/register`,
          "POST",
          {
            fullName: this.fullName,
            email: this.email,
            userName: this.userName,
            password: this.password
          },
          {
            "Content-Type": "application/json"
          }
        ).send();
        req
          .then(rsp => {
            this.message = rsp.message;
            if (rsp.success) {
              this.status = "success";
              return this.$router.push({
                path: "/auth/login",
                query: { redirect: true }
              });
            } else {
              this.status = "warning";
            }
          })
          .catch(e => {
            this.status = "error";
            this.message = e;
          });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.v-card__title {
  justify-content: center;
}
.v-btn {
  margin: {
    top: 2rem;
  }
}
</style>