<template>
  <div>
    <v-list three-line class="pa-12">
      <template v-for="(item, index) in items">
        <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

        <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

        <v-list-item v-else :key="item.title">
          <v-list-item-avatar>
            <v-img :src="item.avatar"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <router-link
              style="text-decoration: none;color:black;"
              :to="'/idea?id=' + item.title"
              :key="index"
            >
              <v-list-item-title v-html="item.title"></v-list-item-title>
            </router-link>
            <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-btn icon>
              <v-icon color="blue darken-4">mdi-arrow-down</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon color="deep-orange accent-4">mdi-arrow-up</v-icon>
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
      </template>
    </v-list>
  </div>
</template>

<script lang="ts">
export default {
  name: "Idea",
  components: {},
  data() {
    return {};
  },
  props: {
    items: Array
  }
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none !important;
}
</style>