<template>
  <v-app>
    <AppBar />
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import AppBar from "@/layouts/default.vue";
export default Vue.extend({
  name: "App",

  components: {
    AppBar
  },

  data: () => ({
    token: null
  }),
  beforeMount() {
    this.token = this.$cookies.get("token");
  }
});
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
</style>
