<template>
  <div>
    <div name="nav" style="height:0;" class="nav">
      <v-app-bar app class="navbar" color="white">
        <span class="ml-6 mr-6 mt-2 logo">
          <router-link to="/">
            <img id="logo" :src="require('@/assets/logo.svg')" alt="logo" />
          </router-link>
        </span>
        <span class="ml-6 mr-6 navItem">
          <router-link class="nav-link" to="/">Home</router-link>
        </span>
        <span class="ml-3 mr-6 navItem">
          <router-link class="nav-link" to="/ideas">Ideas</router-link>
        </span>
        <span class="ml-3 mr-6 navItem">
          <router-link class="nav-link" to="/about">About</router-link>
        </span>
        <span v-if="token" class="ml-3 mr-6 navItem">
          <router-link class="nav-link" to="auth/logout">Logout</router-link>
        </span>
        <span class="login">
          <v-btn
            v-if="!token"
            depressed
            link
            to="/auth/login"
            class="ml-6"
            color="#F27E63"
            dark
          >Login</v-btn>
          <v-btn
            class="ml-4 mr-4"
            v-if="!token"
            depressed
            link
            to="/auth/register"
            color="#D95284"
            dark
          >Register</v-btn>
          <v-btn
            v-if="token"
            depressed
            link
            to="/dashboard/#"
            class="mr-6"
            color="#0476D9"
            dark
          >Dashboard</v-btn>
        </span>
      </v-app-bar>
    </div>
    <v-navigation-drawer light temporary class="drawer" close-on-content-click v-model="drawer" app>
      <v-list>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/">
              <v-list-item-title>Home</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-creation</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/ideas">
              <v-list-item-title>Ideas</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link v-if="!token">
          <v-list-item-action>
            <v-icon>mdi-login</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/auth/login">
              <v-list-item-title>Login</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link v-if="!token">
          <v-list-item-action>
            <v-icon>mdi-key</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/auth/register">
              <v-list-item-title>Register</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-information</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/about">
              <v-list-item-title>About</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link v-if="token">
          <v-list-item-action>
            <v-icon>mdi-monitor-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/dashboard">
              <v-list-item-title>Dashboard</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link v-if="token">
          <v-list-item-action>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="auth/logout">
              <v-list-item-title>Logout</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-btn x-large class="drawerBtn" icon @click.stop="drawer = !drawer">
      <v-icon>mdi-menu</v-icon>
    </v-btn>
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      token: null,
      drawer: false,
      position: null
    };
  },
  beforeMount() {
    this.getToken();
  },
  methods: {
    getToken() {
      const token: string = this.$cookies.get("token");
      this.token = token;
    }
  }
};
</script>

<style lang="scss">
a {
  text-decoration: none !important;
}
.nav {
  display: block;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.drawer {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}
#logo {
  width: 2.5rem;
  height: 90%;
}
.login {
  position: fixed;
  right: 0rem;
  top: 0.8rem;
  @media screen and (max-width: 800px) {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.drawerBtn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: block;
  @media screen and (min-width: 801px) {
    display: none;
  }
}

.navItem {
  @media screen and (max-width: 900px) {
    margin: {
      left: 0.7rem !important;
      right: 0.7rem !important;
    }
    padding: 0 !important;
  }
}
.nav-link {
  color: black !important;
  text-decoration: none;
}
</style>
